Importing necessary libraries.

In [7]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import html5lib

In [8]:
#Grabbing our URL and opening it for analysis of HTML
url = "https://en.wikipedia.org/wiki/Crime_in_the_United_States"
html = urlopen(url)

#Allows us to pull HTML data for Python use
soup = BeautifulSoup(html, 'html.parser')

We create a list in which all the elements are table headers from the html. The relevant th's are those indexed 12-17. We enter the element and use getText method extract the text.

In [9]:
column_headers = [soup.findAll('th')[i].getText() for i in range (12,18)]
column_headers

['Year',
 'Violent crime',
 'Murder and non-negligent\nmanslaughter',
 'Rape',
 'Robbery',
 'Aggravated\nassault']

We grab all the table rows and slice from them the relevant ones. Slicing is supported because soup.findAll('tr') returns a list

In [10]:
row_data = soup.findAll('tr')[15:71]

In [11]:
type(row_data)

list

In [12]:
row_data

[<tr>
 <td>1960</td>
 <td>160.9</td>
 <td>5.1</td>
 <td>9.6</td>
 <td>60.1</td>
 <td>86.1</td>
 </tr>, <tr>
 <td>1961</td>
 <td>158.1</td>
 <td>4.8</td>
 <td>9.4</td>
 <td>58.3</td>
 <td>85.7</td>
 </tr>, <tr>
 <td>1962</td>
 <td>162.3</td>
 <td>4.6</td>
 <td>9.4</td>
 <td>59.7</td>
 <td>88.6</td>
 </tr>, <tr>
 <td>1963</td>
 <td>168.2</td>
 <td>4.6</td>
 <td>9.4</td>
 <td>61.8</td>
 <td>92.4</td>
 </tr>, <tr>
 <td>1964</td>
 <td>190.6</td>
 <td>4.9</td>
 <td>11.2</td>
 <td>68.2</td>
 <td>106.2</td>
 </tr>, <tr>
 <td>1965</td>
 <td>200.2</td>
 <td>5.1</td>
 <td>12.1</td>
 <td>71.7</td>
 <td>111.3</td>
 </tr>, <tr>
 <td>1966</td>
 <td>220.0</td>
 <td>5.6</td>
 <td>13.2</td>
 <td>80.8</td>
 <td>120.3</td>
 </tr>, <tr>
 <td>1967</td>
 <td>253.2</td>
 <td>6.2</td>
 <td>14.0</td>
 <td>102.8</td>
 <td>130.2</td>
 </tr>, <tr>
 <td>1968</td>
 <td>298.4</td>
 <td>6.9</td>
 <td>15.9</td>
 <td>131.8</td>
 <td>143.8</td>
 </tr>, <tr>
 <td>1969</td>
 <td>328.7</td>
 <td>7.3</td>
 <td>18.5</td>
 <td>148.4</td>
 <td>154.5</td>
 </tr>, <tr>
 <td>1970</td>
 <td>363.5</td>
 <td>7.9</td>
 <td>18.7</td>
 <td>172.1</td>
 <td>164.8</td>
 </tr>, <tr>
 <td>1971</td>
 <td>396.0</td>
 <td>8.6</td>
 <td>20.5</td>
 <td>188.0</td>
 <td>178.8</td>
 </tr>, <tr>
 <td>1972</td>
 <td>401.0</td>
 <td>9.0</td>
 <td>22.5</td>
 <td>180.7</td>
 <td>188.8</td>
 </tr>, <tr>
 <td>1973</td>
 <td>417.4</td>
 <td>9.4</td>
 <td>24.5</td>
 <td>183.1</td>
 <td>200.5</td>
 </tr>, <tr>
 <td>1974</td>
 <td>461.1</td>
 <td>9.8</td>
 <td>26.2</td>
 <td>209.3</td>
 <td>215.8</td>
 </tr>, <tr>
 <td>1975</td>
 <td>487.8</td>
 <td>9.6</td>
 <td>26.3</td>
 <td>220.8</td>
 <td>231.1</td>
 </tr>, <tr>
 <td>1976</td>
 <td>467.8</td>
 <td>8.7</td>
 <td>26.6</td>
 <td>199.3</td>
 <td>233.2</td>
 </tr>, <tr>
 <td>1977</td>
 <td>475.9</td>
 <td>8.8</td>
 <td>29.4</td>
 <td>190.7</td>
 <td>247.0</td>
 </tr>, <tr>
 <td>1978</td>
 <td>497.8</td>
 <td>9.0</td>
 <td>31.0</td>
 <td>195.8</td>
 <td>262.1</td>
 </tr>, <tr>
 <td>1979</td>
 <td>548.9</td>
 <td>9.8</td>
 <td>34.7</td>
 <td>218.4</td>
 <td>286.0</td>
 </tr>, <tr>
 <td>1980</td>
 <td>596.6</td>
 <td>10.2</td>
 <td>36.8</td>
 <td>251.1</td>
 <td>298.5</td>
 </tr>, <tr>
 <td>1981</td>
 <td>594.3</td>
 <td>9.8</td>
 <td>36.0</td>
 <td>258.4</td>
 <td>289.3</td>
 </tr>, <tr>
 <td>1982</td>
 <td>570.8</td>
 <td>9.1</td>
 <td>34.0</td>
 <td>238.8</td>
 <td>289.0</td>
 </tr>, <tr>
 <td>1983</td>
 <td>537.7</td>
 <td>8.3</td>
 <td>33.8</td>
 <td>216.7</td>
 <td>279.4</td>
 </tr>, <tr>
 <td>1984</td>
 <td>539.9</td>
 <td>7.9</td>
 <td>35.7</td>
 <td>205.7</td>
 <td>290.6</td>
 </tr>, <tr>
 <td>1985</td>
 <td>556.6</td>
 <td>8.0</td>
 <td>36.8</td>
 <td>209.3</td>
 <td>304.0</td>
 </tr>, <tr>
 <td>1986</td>
 <td>620.1</td>
 <td>8.6</td>
 <td>38.1</td>
 <td>226.0</td>
 <td>347.4</td>
 </tr>, <tr>
 <td>1987</td>
 <td>612.5</td>
 <td>8.3</td>
 <td>37.6</td>
 <td>213.7</td>
 <td>352.9</td>
 </tr>, <tr>
 <td>1988</td>
 <td>640.6</td>
 <td>8.5</td>
 <td>37.8</td>
 <td>222.1</td>
 <td>372.2</td>
 </tr>, <tr>
 <td>1989</td>
 <td>666.9</td>
 <td>8.7</td>
 <td>38.3</td>
 <td>234.3</td>
 <td>385.6</td>
 </tr>, <tr>
 <td>1990</td>
 <td>729.6</td>
 <td>9.4</td>
 <td>41.1</td>
 <td>256.3</td>
 <td>422.9</td>
 </tr>, <tr>
 <td>1991</td>
 <td>758.2</td>
 <td>9.8</td>
 <td>42.3</td>
 <td>272.7</td>
 <td>433.4</td>
 </tr>, <tr>
 <td>1992</td>
 <td>757.7</td>
 <td>9.3</td>
 <td>42.8</td>
 <td>263.7</td>
 <td>441.9</td>
 </tr>, <tr>
 <td>1993</td>
 <td>747.1</td>
 <td>9.5</td>
 <td>41.1</td>
 <td>256.0</td>
 <td>440.5</td>
 </tr>, <tr>
 <td>1994</td>
 <td>713.6</td>
 <td>9.0</td>
 <td>39.3</td>
 <td>237.8</td>
 <td>427.6</td>
 </tr>, <tr>
 <td>1995</td>
 <td>684.5</td>
 <td>8.2</td>
 <td>37.1</td>
 <td>220.9</td>
 <td>418.3</td>
 </tr>, <tr>
 <td>1996</td>
 <td>636.6</td>
 <td>7.4</td>
 <td>36.3</td>
 <td>201.9</td>
 <td>391.0</td>
 </tr>, <tr>
 <td>1997</td>
 <td>611.0</td>
 <td>6.8</td>
 <td>35.9</td>
 <td>186.2</td>
 <td>382.1</td>
 </tr>, <tr>
 <td>1998</td>
 <td>567.6</td>
 <td>6.3</td>
 <td>34.5</td>
 <td>165.5</td>
 <td>361.4</td>
 </tr>, <tr>
 <td>1999</td>
 <td>523.0</td>
 <td>5.7</td>
 <td>32.8</td>
 <td>150.1</td>
 <td>334.3</td>
 </tr>, <tr>
 <td>2000</td>
 <td>506.5</td>
 <td>5.5</td>
 <td>32.0</td>
 <td>145.0</td>
 <td>324.0</td>
 </tr>, <tr>
 <td>2001</td>
 <td>504.5</td>
 <td>5.6</td>
 <td>31.8</td>
 <td>148.5</td>
 <td>318.6</td>
 </tr>, <tr>
 <td>2002</td>
 <td>494.4</td>
 <td>5.6</td>
 <td>33.1</td>
 <td>146.1</td>
 <td>309.5</td>
 </tr>, <tr>
 <td>2003</td>
 <td>475.8</td>
 <td>5.7</td>
 <td>32.3</td>
 <td>142.5</td>
 <td>295.4</td>
 </tr>, <tr>
 <td>2004</td>
 <td>463.2</td>
 <td>5.5</td>
 <td>32.4</td>
 <td>136.7</td>
 <td>288.6</td>
 </tr>, <tr>
 <td>2005</td>
 <td>469.0</td>
 <td>5.6</td>
 <td>31.8</td>
 <td>140.8</td>
 <td>290.8</td>
 </tr>, <tr>
 <td>2006</td>
 <td>473.6</td>
 <td>5.8</td>
 <td>31.6</td>
 <td>150.0</td>
 <td>292.0</td>
 </tr>, <tr>
 <td>2007</td>
 <td>471.8</td>
 <td>5.7</td>
 <td>30.6</td>
 <td>148.3</td>
 <td>287.2</td>
 </tr>, <tr>
 <td>2008</td>
 <td>458.6</td>
 <td>5.4</td>
 <td>29.8</td>
 <td>145.9</td>
 <td>277.5</td>
 </tr>, <tr>
 <td>2009</td>
 <td>431.9</td>
 <td>5.0</td>
 <td>29.1</td>
 <td>133.1</td>
 <td>264.7</td>
 </tr>, <tr>
 <td>2010</td>
 <td>404.5</td>
 <td>4.8</td>
 <td>27.7</td>
 <td>119.3</td>
 <td>252.8</td>
 </tr>, <tr>
 <td>2011</td>
 <td>387.1</td>
 <td>4.7</td>
 <td>27.0</td>
 <td>113.9</td>
 <td>241.5</td>
 </tr>, <tr>
 <td>2012</td>
 <td>386.9</td>
 <td>4.7</td>
 <td>26.9</td>
 <td>112.9</td>
 <td>242.3</td>
 </tr>, <tr>
 <td>2013</td>
 <td>369.1</td>
 <td>4.5</td>
 <td>25.9</td>
 <td>109.0</td>
 <td>229.6</td>
 </tr>, <tr>
 <td>2014</td>
 <td>361.1</td>
 <td>4.4</td>
 <td>26.6</td>
 <td>101.3</td>
 <td>229.2</td>
 </tr>, <tr>
 <td>2015</td>
 <td>372.6</td>
 <td>4.9</td>
 <td>28.1</td>
 <td>101.9</td>
 <td>237.8</td>
 </tr>]

We saw that each table row has 6 table data elements in it. We put all the table data into a 2 dimensional list. Then we turn the nested list into a data frame using the column_headers list as titles for the columns.

In [13]:
data_list= []
for i in range(len(row_data)):
    row=[]
    for td in row_data[i].findAll('td'):
        row.append(td.getText())
    data_list.append(row)
    
df= pd.DataFrame(data_list, columns=column_headers)

In [14]:
df.head()

,Year,Violent crime,Murder and non-negligent manslaughter,Rape,Robbery,Aggravated assault
0,1960,160.9,5.1,9.6,60.1,86.1
1,1961,158.1,4.8,9.4,58.3,85.7
2,1962,162.3,4.6,9.4,59.7,88.6
3,1963,168.2,4.6,9.4,61.8,92.4
4,1964,190.6,4.9,11.2,68.2,106.2

In [15]:
df.tail()

,Year,Violent crime,Murder and non-negligent manslaughter,Rape,Robbery,Aggravated assault
51,2011,387.1,4.7,27.0,113.9,241.5
52,2012,386.9,4.7,26.9,112.9,242.3
53,2013,369.1,4.5,25.9,109.0,229.6
54,2014,361.1,4.4,26.6,101.3,229.2
55,2015,372.6,4.9,28.1,101.9,237.8

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
Year                                     56 non-null object
Violent crime                            56 non-null object
Murder and non-negligent
manslaughter    56 non-null object
Rape                                     56 non-null object
Robbery                                  56 non-null object
Aggravated
assault                       56 non-null object
dtypes: object(6)
memory usage: 2.7+ KB

No missing data, but the data types are strings

In [17]:
print(type(df["Year"][0]))
print(type(df["Rape"][0]))

<class 'str'>
<class 'str'>

In [18]:
df["Year"][0]

'1960'

Change type of all data frame elements to numeric.

In [19]:
df2 = df.apply(pd.to_numeric)

In [20]:
df2["Year"][3]

1963

In [21]:
type(df2["Year"][3])

numpy.int64

In [22]:
type(df2["Rape"][7])

numpy.float64